.clearfix:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.header-wrap{
  background-color:lightgray;
  padding:5px;
  box-sizing: border-box;
}